:root{
    --corverde: #CDE2B3;
    --corverdeescura: #65922D;
    --corpreta: #1D1D1B;
    --corbranca: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas: uma para o logo, outra para a nav-bar */
  align-items: center; /* Centraliza verticalmente os elementos */
  width: 100%;
  max-width: 1320px;
  margin: 0 auto; /* Centraliza o conteúdo no meio da página */
}

  .cabecalho {
    padding: 20px 0;
    border-bottom: 5px solid var(--corverde) ;
}



.logo img {
    max-height: 60px; /* Define uma altura máxima para o logo */
}

.nav-bar {
    justify-self: end; /* Posiciona a barra de navegação no canto direito */
}

.menu {
    display: flex;
    gap: 20px; /* Espaçamento entre os itens do menu */
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li a {
    text-decoration: none;
    color: var(--corpreta);
    text-align: right;
    font-family: "PT Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.menu li a:hover {
    border-bottom: 1px solid var(--corverde);
}

.banner1{
  width: 100%;
  grid-column: span 12;
}
footer{
  background-color: var(--corverdeescura);
  color: var(--corbranca);
  display: flex;
  justify-content: center;
}
/* Alinhamento centralizado ocupando 6 colunas */
.text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  grid-column: span 6;
  font-size: 16px;
  width: 40.5rem;
  margin-left: 21rem;
  margin-top: 3rem;
  margin-bottom: 4.5rem;
  
}
.text1 a{
  color: var(--corverde);
}
/* Cards ocupando 4 colunas, texto centralizado abaixo da imagem */
.card1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  font-size: 32px;
  grid-column: span 12;
  justify-content: center;
  margin-bottom: 10.1875rem;
}

.card1 .col-4 {
  grid-column: span 4;
  text-align: center;
  gap: 8rem;
}

.card1 img {
  margin-bottom: 10px;
}

/* Centralizando título */
.prof {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  grid-column: span 2;
  font-size: 36px;
}
.prof::before{
  content: url(imgs/-.svg);
  display: block;
  align-items: center;
  margin-right: 1rem;
}
.prof::after{
  content: url(imgs/-.svg);
  display: block;
  align-items: center;
  margin-left: 1rem;
}
.prof h2{
  padding-top: 0.6875rem;
}

/* Cards ocupando 2 colunas, texto centralizado abaixo da imagem */
.card2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 3rem;
  grid-template-columns: repeat(12, 1fr);
  margin-left: 15.31rem;
  margin-bottom: 6.25rem;
  
  
}

.card2 .col-2 {
  grid-column: span 12;
  text-align: center;
  gap: 4.5rem;
}

.col-2 p  {
  padding: 0.625rem;
}
.prof-n{
  font-size: 20px;
}
footer{
  padding: 2.25rem;
}
.main-footer{
  display: flex;
  align-items: center;
  
}

.lg img{
  padding-bottom: 11.75rem ;
  margin-top: 3.62rem;
}


.submenu{
  margin-left: 5.25rem;
  margin-bottom: 6.13rem;
  margin-top: 4.5rem;
}

.submenu a{
  color: var(--corbranca);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.submenu li{
  margin-bottom: 1rem;
  list-style: none;
}

.redes{
  display: flex;
  width: 9.9375rem;
  height: 1.5rem;
  gap: 1.5rem;
  margin-top: 4.56rem;
  margin-left: 45.69rem;
  margin-bottom: 12.7rem;
  
}
.des{
  width: 26.5rem;
  color: var(--corpreta);
  font-family: "PT Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; 
  text-align: start;
  margin-top: 2rem;
}
.des a {
  color: var(--corverde);
}
.h-text{
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 14.06rem;
  margin-top: 2.45rem;
}
.h-text h2{
  text-align: start;
  font-family: "PT Serif";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
.text2{
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 2.25rem;
}

.text2 p{
  text-align: start;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; 
}

.card3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13.25rem;
  gap: 4.25rem;
  
}

.card3 .col-3 {
  text-align: center;
  gap: 4.5rem;
}
.col-3 p  {
  padding: 0.625rem;
}

.text3{
  width: 54.5rem;
  height: 48.1875rem ;
}
.text3 p{
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.text3 b{
  font-family: "PT Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.text3 ul{
  color: var(--corverde);
}
.text3 a{
  color: var(--corverde);

}

#prof-Perfil{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 4.5rem;
  margin-left: 1rem;
}
.nome-p{
  margin-left: 2.3125rem;
}

.nome-p p{
  text-align: start;
  margin-bottom: 0.625rem;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

#nome{
  font-family: "PT Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contato .form-c{
  margin-bottom: 6.25rem;
  margin-left: 7rem;
  
}
.form-group input {
  margin-bottom: 3.5625rem;
  
}
.form-group i {
  margin-bottom: 3.5625rem;
  
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper i {
  position: absolute;
  left: 10px;
  font-size: 18px;
  color: #888;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px 10px 10px 40px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F8F8F8;
}
input:hover{
  background-color: var(--corverdeescura);
  color: var(--corbranca);
}
textarea {
  resize: vertical;
}

button {
  display: block;
  width: 91px;
  padding: 10px;
  background-color: var(--corverdeescura);
  color: var(--corbranca);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
#con{
  margin-bottom: 4.125rem;
  font-family: "PT Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}
button{
  margin-top: 2rem;
}

button:hover {
  background-color: var(--corverde);
  color: var(--corpreta);
}

.prof-1{
  margin-bottom: 2.625rem;
  margin-top: 4.5rem;
}
.prof-1 h2{
  font-family: "PT Serif";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}


.rede-p{
  display: flex;
  justify-content: center;
  align-items: center;
}
.rede-p i{
  margin-right: 1.5rem;
  color: var(--corverde);
}

.card4{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
  
}
.card5{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.prof-n2 b{
  text-align: center;
  font-family: "Open Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.col-pr{
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}


.col-pr a {
  color: var(--corpreta);
}

.col-pr p {
  text-align: center;
  margin-bottom: 0.625rem;
}
.des-p{
  padding: 1rem;
  width: 19.5rem;
}

.des-p a{
  color: var(--corverde);
}

.temp1{
  padding-top: 2.7rem;
}
.temp2{
  max-width: 54.5rem;
}

.temp3{
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 13.625rem;
}
  

