:root{
    --corverde: #CDE2B3;
    --corverdeescura: #65922D;
    --corpreta: #1D1D1B;
    --corbranca: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    font-family: Arial, sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-bottom:  5px solid var(--corverde);
}

.logo {
    font-size: 24px;
    font-size: 30px;

}
.logo span{
    background-color: var(--corverde);
    padding-left: 1rem;
}

.nav-bar {
    justify-self: end;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar ul li {
    margin-left: 20px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 3px;
}

.nav-bar ul li a:hover {
    border-bottom:  1px solid var(--corverde);
    padding: 3px;

}
.p1{
    display: flex;
    justify-content: center;
    width: 100%;
}


.tex1{
    width: 40.5rem;
    color: #000;
    font-family: "PT Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 3rem;
}



.b1{
    display: flex;
    justify-content: center;
}
.prof{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    
}
.prof span{
    padding: 1rem;
    color: var(--corverde);
}
.c0{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5.5rem;

}
.des {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.c1 img{
    border: 5px solid var(--corverde);
}
.c1, .pr{
    margin: 1rem;    
}
.pt, .ae{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.pt{
    font-size: 23px;
}
.p0{
    
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}


footer{
    background-color: var(--corverdeescura);
    color: var(--corbranca);
    width: 100%;
}
.main-footer{
    display: flex;
    justify-content: start;
    padding: 2rem;
    margin-bottom: 3rem;
    
}
.logo2 span{
    background-color: var(--corverde);
    padding-left: 1rem;
}
.submenu{
    margin-left: 3.5rem;
    color: var(--corbranca);
}
.submenu a{
    color: var(--corbranca);
    text-decoration: none;
    
}
.redes{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 77rem;
   
}
.redes img{
    margin-right: 1rem;
}

